$white: #f9f9f9;
$white-two: #ffffff;
$white-three: #ecebe9;
$black-one: #303030;
$grey-nav: #5e5e5e;
$ash-grey: #b2b2b2;
$accent: #cfb995;
$weird-green: #57e690;
$weird-red: #ff5b5b;

$colors: (
	red: #ff5b5b,
	green: #57e690,
	orange: #ff915b,
	blue: #57dbe6,
	brown: #d0ba93,
	pale-orange: #ffbe5b,
	kiwi-green: #8fe360,
	light-gold: #ffdf5b
);

@each $name, $color in $colors {
	.button{
		&-#{$name}{
			background-color: $color;
		}
	}
	
	.popularity{
		&-#{$name}{
			color: $color;
		}
	}
}

// $button-red: #ff5b5b;
// $button-green: #57e690;
// $button-orange: #ff915b;
// $button-blue: #57dbe6;
// $button-brown: #d0ba93;
// $button-pale-orange: #ffbe5b;
// $button-kiwi-green: #8fe360;
// $button-light-gold: #ffdf5b;


@font-face {
    font-family: Montserrat;
    src: url('./assets/Montserrat/Montserrat-Regular.ttf');
}

h2 {
	margin: 0;
	color: #fff;
	font-weight: 400;
	font-size: 1.2rem;
}

* {
	box-sizing: border-box;
}
body {
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
}

// Nav

.nav {
	height: 50px;
	width: 100%;
	background-color: #4d4d4d;
	position: relative;
	>.nav-btn {
		display: none;
	}
	>.nav-links {
		display: inline;
		float: right;
		font-size: 18px;
		>a {
			display: inline-block;
			padding: 13px 10px 13px 10px;
			text-decoration: none;
			color: #efefef;
			&:hover {
				background-color: $accent;
				cursor: pointer;
			}
		}
	}
	>#nav-check {
		display: none;
	}
}
@media (max-width:600px) {
	.nav {
		>.nav-btn {
			display: inline-block;
			position: absolute;
			right: 0px;
			top: 0px;
			>label {
				display: inline-block;
				width: 50px;
				height: 50px;
				padding: 13px;
				&:hover {
					background-color: rgba(0, 0, 0, 0.3);
				}
				>span {
					display: block;
					width: 25px;
					height: 10px;
					border-top: 2px solid #eee;
				}
			}
		}
		#nav-check {
			&:checked {
				~ {
					.nav-btn {
						>label {
							background-color: rgba(0, 0, 0, 0.3);
						}
					}
				}
			}
		}
		>.nav-links {
			position: absolute;
			display: block;
			width: 100%;
			background-color: #333;
			height: 0px;
			transition: all 0.3s ease-in;
			overflow-y: hidden;
			top: 50px;
			left: 0px;
			>a {
				display: block;
				width: 100%;
			}
		}
		>#nav-check {
			&:not(:checked) {
				~ {
					.nav-links {
						height: 0px;
					}
				}
			}
			&:checked {
				~ {
					.nav-links {
						height: calc(100vh - 50px);
						overflow-y: auto;
					}
				}
			}
		}
	}
}


.hero {
	background: linear-gradient(#0006, #0006), url('./assets/assets1/bitmap@3x.png');
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero-inner {
	padding: 0 1.5rem;
	text-align: center;
}
.hero-headline {
	margin: 0;
	color: #fff;
	font-weight: 600;
	font-size: 60px;
	color: $accent;
}
.search-input {
	background: transparent;
	outline: none;
	border: 1px solid #CBD8E3;
	height: 50px;
	font-size: 16px;
	padding: 11px 15px;
	box-sizing: border-box;
	margin-top: 50px;
	color: white;
	min-width: 400px;
	background-image: url('./assets/assets1/search-copy.png');
	background-repeat: no-repeat;
	background-position-x: 95%;
	background-position-y: 50%;
	&:focus {
		background: white;
		color: black;
		background-image: url('./assets/assets2/search-copy.png');
		background-repeat: no-repeat;
		background-position-x: 95%;
		background-position-y: 50%;
	}
}
.app-container {
	padding: 20px;
	background-color: $white-three;
}
.category-button-list {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	margin-bottom: 20px;
}
.category-button {
	padding: 10px;
	color: $white-two;
	min-width: 40px;
	flex: 0 0 18%;
	text-align: center;
	&:hover {
		color: #000;
		cursor: pointer;
	}
}
.lightning-icon {
	background-image: url('./assets/assets1/green-light-copy-6.png');
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center;
}
.joke-category {
	font-weight: 700;
	margin-bottom: 10px;
	display: flex;
	font-size: 16px;
}
.joke-list {
	display: flex;
	flex-wrap: wrap;
	word-break: break-word;
	gap: 20px;
}
.joke-card {
	flex: 0 0 32%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 16px;
	background-color: $white-two;
	display: flex;
	flex-direction: column;
	&:hover {
		box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
		cursor: pointer;
	}
}
.see-stats {
	color: $accent;
	margin-top: auto;
	display: flex;
	justify-content: end;
}
.joke-text {
	font-size: 14px;
	margin-bottom: 10px;
}
.button-view-more-container {
	display: flex;
	justify-content: center;
}
.button-view-more {
	border: 1px solid $accent;
	padding: 10px 20px 10px 20px;
	color: $accent;
	margin-top: 30px;
	cursor: pointer;
}
.single-joke-container {
	padding: 20px;
	background-color: $white-three;
}
.back-arrow-wrapper {
	padding: 20px;
	background-color: $black-one;
	border-radius: 30px 30px 50px 30px;
	display: inline-block;
	margin-bottom: 20px;
	cursor: pointer;
}
.single-joke-card {
	border: 1px solid rgba(0, 0, 0, 0.2);
	width: 60%;
	padding: 16px;
	background-color: $white-two;
}
.single-joke-header {
	display: flex;
	justify-content: space-between;
}
.single-joke-popularity {
	font-weight: 600;
}
.single-joke-category {
	display: inline-flex;
	padding: 5px 15px 5px 15px;
	background-color: #57e690;
	border-radius: 20px;
	font-size: 12px;
	color: white;
}
.single-joke-title {
	color: $accent;
	font-size: 40px;
	margin: 2px 14px 8px 0;
}
.single-joke-text {
	font-size: 16px;
}
.single-joke-actions {
	display: flex;
	justify-content: space-between;
	max-width: 60%;
	margin-top: 10px;
}
.like-dislike-container {
	display: flex;
	gap: 20px;
}
.like-wrapper {
	background-color: $weird-green;
	padding: 10px;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	&:hover {
		filter: brightness(0.85);
	}
}
.like-counter {
	font-size: 14px;
	color: $weird-green;
	text-align: center;
	margin-top: 5px;
}
.dislike-counter {
	font-size: 14px;
	color: $weird-red;
	text-align: center;
	margin-top: 5px;
}
.dislike-wrapper {
	background-color: $weird-red;
	padding: 10px;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	&:hover {
		filter: brightness(0.85);
	}
}
.next-prev-container {
	display: flex;
	gap: 20px;
	flex-grow: 0;
	flex-basis: 40%;
}
.prev-button {
	border: 1px solid $ash-grey;
	padding: 5px 10px 5px 10px;
	display: flex;
	color: $accent;
	font-size: 12px;
	min-width: 50px;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	gap: 5px;
	cursor: pointer;
	&:hover {
		gap: 20px;
	}
}
.next-button {
	border: 1px solid $ash-grey;
	padding: 5px 10px 5px 10px;
	display: flex;
	color: $accent;
	font-size: 12px;
	min-width: 50px;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	gap: 5px;
	cursor: pointer;
	&:hover {
		gap: 20px;
	}
}
.footer {
	background: linear-gradient(#0006, #0006), url('./assets/assets1/bitmap_2.png');
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	height: 20vh;
	display: flex;
	justify-content: start;
	align-items: center;
}
.footer-inner {
	padding: 0 1.5rem;
}
.footer-text {
	color: white;
	margin-bottom: 10px;
}
.footer-action {
	color: $accent;
	display: flex;
	gap: 5px;
	cursor: pointer;
}

@media screen and (max-width: 360px) {
	.joke-card {
		flex: 0 0 20%;
	}
}
@media screen and (max-width: 1000px) {
	.joke-card {
		flex: 1 0 30%;
	}
}
@media screen and (min-width: 361px) and (max-width: 600px) {
	.joke-card {
		flex: 0 0 47%;
	}
	.category-button {
		flex: 0 0 30%;
	}
}
@media screen and (max-width: 600px) {
	
	.hero-headline {
		font-size: 40px;
	}
	.hero-subheadline {
		font-size: 14px;
	}
	.search-input {
		min-width: 90%;
	}
	
	.category-button {
		flex: 1 0 47%;
	}
	.joke-card {
		flex: 0 0 100%;
	}
	.single-joke-card {
		width: 100%;
	}
	.single-joke-actions {
		flex-direction: column;
		max-width: 100%;
	}
	.like-dislike-container {
		flex: 1 0 100%;
		margin-bottom: 20px;
	}
	.like-counter {
		font-size: 14px;
	}
	.dislike-counter {
		font-size: 14px;
	}
}
